.arrow lottie-player{
    margin: 10px auto;
}
.section{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding: 10px 0;
    border: 1px rgb(199, 199, 199) solid;
    border-radius: 15px;
}
.home-section{
    background: rgb(225, 246, 252);
    margin-top: 80px;
}
.section h2{
    display: inline-block;
    margin: 0;
}
.section h2 a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px #000 solid;
    border-radius: 15px;
    color: #000;
    background: rgb(255, 255, 255);
}
.header-sction{
    background: rgb(255, 221, 221);
}
.header-sction h2{
    margin: 0 12px;
}
